#  
<span style="color:darkolivegreen; font-size:50px; text-align:center">강남 3구는 안전한가?</span>
<img src = "data/map_of_seoul.jpeg"/>
#

In [1]:
import numpy as np
import pandas as pd
import googlemaps
import os
import matplotlib.pyplot as plt

In [2]:
geocode_of_stations = pd.read_excel('geocode_of_stations.xls')
geocode_of_stations.drop(['partial_match','place_id','types', 'address_components'] , axis = 1)

,formatted_address,geometry
0,대한민국 서울특별시 중구 을지로동 수표로 27,"{'location': {'lat': 37.5636465, 'lng': 126.98..."
1,대한민국 서울특별시 종로구 종로1.2.3.4가동 율곡로 46,"{'location': {'lat': 37.5755578, 'lng': 126.98..."
2,대한민국 서울특별시 중구 남대문로5가 한강대로 410,"{'location': {'lat': 37.5547584, 'lng': 126.97..."
3,대한민국 서울특별시 서대문구 미근동 통일로 113,"{'location': {'lat': 37.5647848, 'lng': 126.96..."
4,대한민국 서울특별시 종로구 종로1.2.3.4가동 창경궁로 112-16,"{'location': {'lat': 37.5718401, 'lng': 126.99..."
5,대한민국 서울특별시 용산구 원효로1가 25,"{'location': {'lat': 37.538649, 'lng': 126.966..."
6,대한민국 서울특별시 성북구 삼선동5가 301,"{'location': {'lat': 37.5897271, 'lng': 127.01..."
7,대한민국 서울특별시 동대문구 청량리동 약령시로21길 29,"{'location': {'lat': 37.58506149999999, 'lng':..."
8,대한민국 서울특별시 마포구 아현동 618-1,"{'location': {'lat': 37.550814, 'lng': 126.954..."
9,대한민국 서울특별시 영등포구 당산동3가 2-11,"{'location': {'lat': 37.5257884, 'lng': 126.90..."
10,대한민국 서울특별시 성동구 행당1동 왕십리광장로 9,"{'location': {'lat': 37.5617309, 'lng': 127.03..."
11,대한민국 서울특별시 동작구 노량진동 72,"{'location': {'lat': 37.5130685, 'lng': 126.94..."
12,대한민국 서울특별시 광진구 구의1동 자양로 167,"{'location': {'lat': 37.542873, 'lng': 127.083..."
13,대한민국 서울특별시 은평구 대조동 통일로 757,"{'location': {'lat': 37.6128611, 'lng': 126.92..."
14,대한민국 서울특별시 강북구 번1동 415-15,"{'location': {'lat': 37.6373881, 'lng': 127.02..."
15,대한민국 서울특별시 관악구 신림동 544,"{'location': {'lat': 37.4814051, 'lng': 126.90..."
16,대한민국 서울특별시 중랑구 묵2동 249-2,"{'location': {'lat': 37.6056429, 'lng': 127.07..."
17,대한민국 서울특별시 강남구 대치동 998,"{'location': {'lat': 37.5094352, 'lng': 127.06..."
18,대한민국 서울특별시 관악구 봉천동,"{'location': {'lat': 37.4743789, 'lng': 126.95..."
19,대한민국 서울특별시 양천구 신월동 화곡로 73,"{'location': {'lat': 37.5397827, 'lng': 126.82..."
20,대한민국 서울특별시 강동구 성내1동 성내로 57,"{'location': {'lat': 37.528511, 'lng': 127.126..."
21,대한민국 서울특별시 성북구 종암동 종암로 135,"{'location': {'lat': 37.6020592, 'lng': 127.03..."
22,대한민국 서울특별시 구로구 가마산로 235,"{'location': {'lat': 37.494931, 'lng': 126.886..."
23,대한민국 서울특별시 서초구 서초3동 반포대로 179,"{'location': {'lat': 37.4956054, 'lng': 127.00..."
24,대한민국 서울특별시 양천구 신정6동 목동동로 99,"{'location': {'lat': 37.5165667, 'lng': 126.86..."
25,대한민국 서울특별시 송파구 가락본동 9,"{'location': {'lat': 37.5019065, 'lng': 127.12..."
26,대한민국 서울특별시 노원구 하계동 노원로 283,"{'location': {'lat': 37.6423605, 'lng': 127.07..."
27,대한민국 서울특별시 서초구 방배2동 방배천로 54,"{'location': {'lat': 37.4815453, 'lng': 126.98..."
28,대한민국 서울특별시 은평구 불광2동 연서로 365,"{'location': {'lat': 37.6283597, 'lng': 126.92..."
29,대한민국 서울특별시 도봉구 창4동 노해로 403,"{'bounds': {'northeast': {'lat': 37.7017495, '..."
30,대한민국 서울특별시 강남구 개포동 개포로 617,"{'location': {'lat': 37.49349, 'lng': 127.0772..."

In [3]:
geocode_of_stations.geometry

0     {'location': {'lat': 37.5636465, 'lng': 126.98...
1     {'location': {'lat': 37.5755578, 'lng': 126.98...
2     {'location': {'lat': 37.5547584, 'lng': 126.97...
3     {'location': {'lat': 37.5647848, 'lng': 126.96...
4     {'location': {'lat': 37.5718401, 'lng': 126.99...
5     {'location': {'lat': 37.538649, 'lng': 126.966...
6     {'location': {'lat': 37.5897271, 'lng': 127.01...
7     {'location': {'lat': 37.58506149999999, 'lng':...
8     {'location': {'lat': 37.550814, 'lng': 126.954...
9     {'location': {'lat': 37.5257884, 'lng': 126.90...
10    {'location': {'lat': 37.5617309, 'lng': 127.03...
11    {'location': {'lat': 37.5130685, 'lng': 126.94...
12    {'location': {'lat': 37.542873, 'lng': 127.083...
13    {'location': {'lat': 37.6128611, 'lng': 126.92...
14    {'location': {'lat': 37.6373881, 'lng': 127.02...
15    {'location': {'lat': 37.4814051, 'lng': 126.90...
16    {'location': {'lat': 37.6056429, 'lng': 127.07...
17    {'location': {'lat': 37.5094352, 'lng': 127.06...
18    {'location': {'lat': 37.4743789, 'lng': 126.95...
19    {'location': {'lat': 37.5397827, 'lng': 126.82...
20    {'location': {'lat': 37.528511, 'lng': 127.126...
21    {'location': {'lat': 37.6020592, 'lng': 127.03...
22    {'location': {'lat': 37.494931, 'lng': 126.886...
23    {'location': {'lat': 37.4956054, 'lng': 127.00...
24    {'location': {'lat': 37.5165667, 'lng': 126.86...
25    {'location': {'lat': 37.5019065, 'lng': 127.12...
26    {'location': {'lat': 37.6423605, 'lng': 127.07...
27    {'location': {'lat': 37.4815453, 'lng': 126.98...
28    {'location': {'lat': 37.6283597, 'lng': 126.92...
29    {'bounds': {'northeast': {'lat': 37.7017495, '...
30    {'location': {'lat': 37.49349, 'lng': 127.0772...
Name: geometry, dtype: object

In [4]:
geocode_of_stations.geometry.head()[0]

"{'location': {'lat': 37.5636465, 'lng': 126.9895796}, 'location_type': 'ROOFTOP', 'viewport': {'northeast': {'lat': 37.56499548029149, 'lng': 126.9909285802915}, 'southwest': {'lat': 37.56229751970849, 'lng': 126.9882306197085}}}"

In [5]:
crime_in_Seoul = pd.read_csv("/Users/quan/some_ipynbs/data/02. crime_in_Seoul.csv" , encoding = "EUC-KR", thousands = ',')
crime_in_Seoul['구역'] = geocode_of_stations['formatted_address'].str.split().str[2]
crime_in_Seoul.head()

,관서명,살인 발생,살인 검거,강도 발생,강도 검거,강간 발생,강간 검거,절도 발생,절도 검거,폭력 발생,폭력 검거,구역
0,중부서,2,2,3,2,105,65,1395,477,1355,1170,중구
1,종로서,3,3,6,5,115,98,1070,413,1278,1070,종로구
2,남대문서,1,0,6,4,65,46,1153,382,869,794,중구
3,서대문서,2,2,5,4,154,124,1812,738,2056,1711,서대문구
4,혜화서,3,2,5,4,96,63,1114,424,1015,861,종로구

In [6]:
# gmaps = googlemaps.Client(key = 'AIzaSyAVReYXU1OpjZk8NqQ7P93pXBni5jXaXV0')
# gmaps.geocode('서울도봉경찰서', language = 'ko')

In [7]:
pd.pivot_table(crime_in_Seoul,index = ['구역','관서명'],aggfunc = np.sum ).head()

         강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구역  관서명
강남구 강남서    225    300     12     15      3      3    984   2411   2146   2465
    수서서    124    149      6      6      7     10    666   1439   1559   1819
강동구 강동서    123    156      8      6      3      4    789   2366   2248   2712
강북구 강북서    126    153     13     14      8      7    618   1434   2348   2649
관악구 관악서    221    320     14     12      8      9    827   2706   2642   3298

In [8]:
crime_anal = pd.pivot_table(crime_in_Seoul,index = ['구역'],aggfunc = np.sum )
crime_anal.head()

     강간 검거  강간 발생  강도 검거  강도 발생  살인 검거  살인 발생  절도 검거  절도 발생  폭력 검거  폭력 발생
구역
강남구    349    449     18     21     10     13   1650   3850   3705   4284
강동구    123    156      8      6      3      4    789   2366   2248   2712
강북구    126    153     13     14      8      7    618   1434   2348   2649
관악구    343    471     20     18     12     12   1715   4273   4418   5352
광진구    220    240     26     14      4      4   1277   3026   2180   2625

In [9]:
crime_anal['강간검거율'] = crime_anal['강간 검거']/crime_anal['강간 발생']*100
crime_anal['강도검거율'] = crime_anal['강도 검거']/crime_anal['강도 발생']*100
crime_anal['살인검거율'] = crime_anal['살인 검거']/crime_anal['살인 발생']*100
crime_anal['절도검거율'] = crime_anal['절도 검거']/crime_anal['절도 발생']*100
crime_anal['폭력검거율'] = crime_anal['폭력 검거']/crime_anal['폭력 발생']*100

In [10]:
crime_anal.head()

,강간 검거,강간 발생,강도 검거,강도 발생,살인 검거,살인 발생,절도 검거,절도 발생,폭력 검거,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구역,,,,,,,,,,,,,,,
강남구,349,449,18,21,10,13,1650,3850,3705,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,123,156,8,6,3,4,789,2366,2248,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,126,153,13,14,8,7,618,1434,2348,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,343,471,20,18,12,12,1715,4273,4418,5352,72.823779,111.111111,100.000000,40.135736,82.548580
광진구,220,240,26,14,4,4,1277,3026,2180,2625,91.666667,185.714286,100.000000,42.200925,83.047619

In [11]:
crime_anal.drop(['강간 검거','강도 검거','절도 검거','폭력 검거','살인 검거'], axis = 1, inplace=True)
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구역,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,133.333333,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,114.285714,43.096234,88.637222
관악구,471,18,12,4273,5352,72.823779,111.111111,100.000000,40.135736,82.548580
광진구,240,14,4,3026,2625,91.666667,185.714286,100.000000,42.200925,83.047619

In [12]:
col_list = '강간검거율	강도검거율	살인검거율	절도검거율	폭력검거율'.split('	')

In [13]:
for col in col_list:
    crime_anal.loc[crime_anal[col]>100,col] = 100

In [14]:
crime_anal.head()

,강간 발생,강도 발생,살인 발생,절도 발생,폭력 발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구역,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,471,18,12,4273,5352,72.823779,100.000000,100.000000,40.135736,82.548580
광진구,240,14,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619

In [15]:
crime_anal.rename(columns = {'강간 발생':'강간',
                             '살인 발생':'살인',
                             '절도 발생':'절도',
                             '폭력 발생':'폭력',
                             '강도 발생':'강도'},
                 inplace = True)

In [16]:
crime_anal

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구역,,,,,,,,,,
강남구,449,21,13,3850,4284,77.728285,85.714286,76.923077,42.857143,86.484594
강동구,156,6,4,2366,2712,78.846154,100.000000,75.000000,33.347422,82.890855
강북구,153,14,7,1434,2649,82.352941,92.857143,100.000000,43.096234,88.637222
관악구,471,18,12,4273,5352,72.823779,100.000000,100.000000,40.135736,82.548580
광진구,240,14,4,3026,2625,91.666667,100.000000,100.000000,42.200925,83.047619
구로구,281,15,8,2335,3007,58.362989,73.333333,75.000000,38.072805,80.877951
노원구,197,7,10,2193,2723,61.421320,100.000000,100.000000,36.525308,85.530665
도봉구,102,9,3,1063,1487,100.000000,100.000000,100.000000,44.967074,87.626093
동대문구,173,13,5,1981,2548,84.393064,100.000000,100.000000,41.090358,87.401884
동작구,285,9,5,1865,1910,48.771930,55.555556,100.000000,35.442359,83.089005
마포구,294,14,8,2555,2983,84.013605,71.428571,100.000000,31.819961,84.445189
서대문구,154,5,2,1812,2056,80.519481,80.000000,100.000000,40.728477,83.219844
서초구,393,9,8,2635,2399,63.358779,66.666667,75.000000,41.404175,87.453105
성동구,126,9,4,1607,1612,94.444444,88.888889,100.000000,37.149969,86.538462
성북구,150,5,5,1785,2209,82.666667,80.000000,100.000000,41.512605,83.974649
송파구,220,13,11,3239,3295,80.909091,76.923077,90.909091,34.856437,84.552352
양천구,382,19,10,3986,5716,77.486911,84.210526,100.000000,48.469644,83.065080
영등포구,295,22,14,2964,3572,62.033898,90.909091,85.714286,32.995951,82.894737
용산구,194,14,5,1557,2050,89.175258,100.000000,100.000000,37.700706,83.121951
은평구,166,9,3,1914,2653,84.939759,66.666667,100.000000,37.147335,86.920467
종로구,211,11,6,2184,2293,76.303318,81.818182,83.333333,38.324176,84.212822
중구,170,9,3,2548,2224,65.294118,66.666667,66.666667,33.712716,88.309353
중랑구,187,11,13,2135,2847,79.144385,81.818182,92.307692,38.829040,84.545135

# 정규화 테스트, 지움 !

In [17]:
from sklearn import preprocessing

In [18]:
X = crime_anal[['살인']].copy()
X.drop('서대문구', inplace= True)

In [19]:
min_max_scaler = preprocessing.MinMaxScaler()
X_scaled = min_max_scaler.fit_transform(X.astype(float))
X_scaled

array([[0.90909091],
       [0.09090909],
       [0.36363636],
       [0.81818182],
       [0.09090909],
       [0.45454545],
       [0.63636364],
       [0.        ],
       [0.18181818],
       [0.18181818],
       [0.45454545],
       [0.45454545],
       [0.09090909],
       [0.18181818],
       [0.72727273],
       [0.63636364],
       [1.        ],
       [0.18181818],
       [0.        ],
       [0.27272727],
       [0.        ],
       [0.90909091]])

In [20]:
X["N"] = X_scaled

In [21]:
X.sort_values(by="살인")

      살인         N
구역
은평구    3  0.000000
중구     3  0.000000
도봉구    3  0.000000
강동구    4  0.090909
성동구    4  0.090909
광진구    4  0.090909
성북구    5  0.181818
용산구    5  0.181818
동작구    5  0.181818
동대문구   5  0.181818
종로구    6  0.272727
강북구    7  0.363636
구로구    8  0.454545
서초구    8  0.454545
마포구    8  0.454545
노원구   10  0.636364
양천구   10  0.636364
송파구   11  0.727273
관악구   12  0.818182
강남구   13  0.909091
중랑구   13  0.909091
영등포구  14  1.000000

In [22]:
Y = X.copy()

In [23]:
Y.sort_values(by = '살인')

      살인         N
구역
은평구    3  0.000000
중구     3  0.000000
도봉구    3  0.000000
강동구    4  0.090909
성동구    4  0.090909
광진구    4  0.090909
성북구    5  0.181818
용산구    5  0.181818
동작구    5  0.181818
동대문구   5  0.181818
종로구    6  0.272727
강북구    7  0.363636
구로구    8  0.454545
서초구    8  0.454545
마포구    8  0.454545
노원구   10  0.636364
양천구   10  0.636364
송파구   11  0.727273
관악구   12  0.818182
강남구   13  0.909091
중랑구   13  0.909091
영등포구  14  1.000000